.plans{
    padding: 5.6vw;
    

    h2{
        text-align: center;

        @media (max-width:768px){
            margin-top: 32px;
            margin-bottom: -94px;
        }
    }

    &__list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;

        }

        .button{
            padding-top: 8px;
            margin-top: 16px;

            @media (max-width: 1023px){
                padding: 24px 14px 22px;
                margin-top: 24px;
                width: 260px;
                max-width: 240px;
                margin: 0 auto;
            }
        }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            @media (min-width:768px) and (max-width:1023px) {
                padding: 0;
            }

            &:nth-child(2){
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img{
                height: 80px;

                @media (max-width:768px) {
                    margin-left: -20px;
                }
            }

            strong{
                display: block;
                margin-top: 24px;
            }
        }
    }

    p{
        text-align: center;

        @media (max-width:1023px){
            margin-top: 18px;
            margin-bottom: 18px;
        }
    }
}